@tailwind base;
@tailwind components;
@tailwind utilities;

*, *::before, *::after{
  margin:0px;
  padding:0px;
  box-sizing: border-box;
}

html, body, #root{
  width:100%;
  height:100%;
  font-family: 'Noto Sans KR', sans-serif;
}

@layer components {
  .absolute-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
